*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
    overflow-x: hidden;
}

body{
    /*background-image: radial-gradient(blue , white);*/
    background-color: rgba(0, 0, 0, 0.767);
    
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(white, black);
    height: 100px;
    margin-bottom: 100px;
    
    a {
        color: white;
    }
    
    nav > ul > li{
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.5em;
        text-transform: uppercase;
        font-family: 'Concert One', cursive;
        :hover{
            color: blue;
        }

    }
}


.Show{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    
    

}

.bildShow{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}

.bildShow:nth-child(1){
    animation-delay: 0s;
}

.bildShow:nth-child(2){
    animation-delay: 10s;
}

.bildShow:nth-child(3){
    animation-delay: 20s;
}


.bildShow img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.textShow {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    /*background-color: rgba(0, 0, 0, 0.411) ;*/
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    text-align: center;
    
}

.textShow h5{
    font-size: 4em;
    font-family: 'Concert One', cursive;
    letter-spacing: 3px;
}


.hero{
    .form-box{
        width: 380px;
        height: 480px;
        background-color: white;
        margin: 0 auto;
        border-radius: 10px;
        position: relative;
        padding: 5px;
        .button-box{
            width: 220px;
            margin-top: 35px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            box-shadow: 0 0 20px 9px #ff61241f;
            
            
            .toggle-btn{
                padding: 10px 25px;
                cursor: pointer;
                background: transparent;
                border: 0;
                outline: none;
                position: relative;
                background: linear-gradient(red, blue);
                border-radius: 10px;
                color: white;
                
                

            }

            .toggle-btn:hover{
                opacity: 0.9;
            }
        }
    }
}

.social-media{
    text-align: center;
}

.social-media > ul{
    
    
    
}

.social-media > ul > li{
    display: inline-block;
    font-size: 17px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    border:2px solid black;
    background: radial-gradient( white 40%, red);
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    
}

.social-media > ul > li:hover{
    background:linear-gradient(blue,red);
    color: white;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .2s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(blue,red);
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

.submit-btn:hover{
    opacity: 0.9;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    position: absolute;
    bottom: 68px;

}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

    


@keyframes cycleImages{
    25%{

        opacity: 1;

    }

    40%{

        opacity: 0;

    }
}


