*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
    overflow-x: hidden;
}

body{
    /*background-image: radial-gradient(blue , white);*/
    background-color: rgba(0, 0, 0, 0.767);
    
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(white, black);
    height: 100px;
    margin-bottom: 100px;
    
    a {
        color: white;
    }
    
    nav > ul > li{
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.5em;
        text-transform: uppercase;
        font-family: 'Concert One', cursive;
        :hover{
            color: blue;
        }

    }
}


.Show{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.bildShow{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}

.bildShow:nth-child(1){
    animation-delay: 0s;
}

.bildShow:nth-child(2){
    animation-delay: 10s;
}

.bildShow:nth-child(3){
    animation-delay: 20s;
}


.bildShow img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.textShow {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    /*background-color: rgba(0, 0, 0, 0.411) ;*/
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    text-align: center;
    
}

.textShow h5{
    font-size: 4em;
    font-family: 'Concert One', cursive;
    letter-spacing: 3px;
}

@keyframes cycleImages{
    25%{

        opacity: 1;

    }

    40%{

        opacity: 0;

    }
}
